* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #11121b;
    color: #ffffff;
    font-family: 'Comfortaa', cursive, 'Roboto', Sans-Serif;
    height: 100%;
}

.wrapper {
    height: 80%; 
    width: 80%; 
    top: 10%; 
    left: 10%; 
    margin-top:3%;
}

.wrapper-absolute {
    position: absolute;
}

.button-wrapper {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    height:100%;
    width: 100%;
}

.centered-button {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Erica One', cursive;
    letter-spacing: 1em;
    color: #e7a61a;    
    text-shadow: 10px 3px rgb(241, 47, 138);
    
}

h3 {
    margin: 0 !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#title {
    margin:auto;
    text-align:center;
    margin-top:30px;
    width:100%;    
}
.new-board {
    /* display: block;
    position: fixed;
    top: 50vh;
    left: 39vw;   
    width: 20%;
    height: 5%; */
    background-color: rgb(38, 38, 63);
    border-radius:15px;
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 10px 5px 0px 0px #e7a61a;
    -moz-box-shadow: 10px 5px 0px 0px #e7a61a;
    box-shadow: 10px 5px 0px 0px #e7a61aa8;
    color: #ff9900;
    font-size: 20pt;
    cursor: pointer;
    font-family: 'Sigmar One', cursive;    
}

.playground-modal-button {
    background-color: rgb(38, 38, 63);
    border-radius:15px;
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 10px 5px 0px 0px #e7a61a;
    -moz-box-shadow: 10px 5px 0px 0px #e7a61a;
    box-shadow: 10px 5px 0px 0px #e7a61aa8;
    color: #ff9900;
    font-size: 10pt;
    cursor: pointer;
}

.beat-button {
    padding: 1em;
    width: 30%;
}

.four-to-the-floor-button {
    background-color: #e7321a;
    border-radius:15px;
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    -moz-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    color: #000000;
    font-size: 10pt;
    cursor: pointer;
}

.jungle-button {
    background-color: #3ce71a;
    border-radius:15px;
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    -moz-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    color: #000000;
    font-size: 10pt;
    cursor: pointer;
}

.house-button {
    background-color: #e7d91a;
    border-radius:15px;
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    -moz-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    color: #000000;
    font-size: 10pt;
    cursor: pointer;
}

.dub-button {
    background-color: rgb(236, 33, 128);
    border-radius:15px;
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    -moz-box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    box-shadow: 10px 5px 0px 0px rgb(38, 38, 63);
    color: rgb(0, 0, 0);
    font-size: 10pt;
    cursor: pointer;
}


.playground-modal {
    background-color:  rgb(38, 38, 63);
}


#new-board:hover {
    background-color: rgb(17, 17, 29);
    
}
#board-margin {
    max-width: 100%;
    max-height: 100%;
}

#board {
    background-color:rgb(31, 31, 47);
    height: 100%;
    border-radius: 15px;
    width: 100%;
    border-color: rgb(194, 25, 137);
    margin-bottom: 10%;
    -webkit-box-shadow: inset -10px -5px 0px 0px rgba(2, 2, 2, 0.432);
    -moz-box-shadow: inset -10px -5px 0px 0px rgba(2, 2, 2, 0.432);
    box-shadow: inset -30px -10px 0px 0px rgba(2, 2, 2, 0.432);
}

.board-empty {
    background: repeating-linear-gradient(
        -55deg,
        rgb(94, 94, 156),
        rgb(94, 94, 156) 5px,
        rgb(79, 79, 128) 5px,
        rgb(79, 79, 128) 10px
      );
}

.playground-selected-item {
    outline-style: solid !important;
    outline-color: #e7a61a !important;
}

.playground-navbar {
    padding: 0% 1% 0% 1%;
    /* background-color: rgb(55, 135, 255); */
    /* background-color: rgb(245, 167, 203); */
    background-color: rgb(241, 47, 138);
    margin: 0;
    border-radius: 15px 15px 0px 0px;
    padding: 1em;    
}

.playground-list {
    border-radius: 15px;
    border: 0px;
    padding: 1em;
}

.list-column {
    padding: 1em;
}

.list {
    background-color:  rgb(83, 83, 136);
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(2, 2, 2, 0.32);
    -moz-box-shadow: 7px 7px 0px 0px rgba(2, 2, 2, 0.32);
    box-shadow: 7px 7px 0px 0px rgba(2, 2, 2, 0.32);
}

.new-list {
    background-color: rgba(2, 2, 2, 0.432) !important;
    cursor: pointer;
}
.new-list:hover {
    background-color: rgba(2, 2, 2, 0.588) !important;
}

.new-card {
    border-radius: 0px 0px 15px 15px;
    border: 0px;
    padding: 1em;
    margin: -1em;
    cursor: pointer;
}
.new-card:hover {
    background-color: rgb(107, 107, 177);
    border-shadow: inset; 
}

.playground-board-menu {
    height: 100%;
    background-color: white;
    padding-bottom: 100%; 
    margin-bottom: -100%;
    border-radius: 0px 0px 15px 0px;
    -webkit-box-shadow: inset -10px -5px 0px 0px rgba(2, 2, 2, 0.432);
    -moz-box-shadow: inset -10px -5px 0px 0px rgba(2, 2, 2, 0.432);
    box-shadow: inset -10px -10px 0px 0px rgba(2, 2, 2, 0.432);
    color: black;
}

.table-container {
    display: table;
  }
  
.table-container .table-row {
height: 100%;
display: table-row;
}

.table-container .table-row .table-col {
display: table-cell;
float: none;
vertical-align: top;
}

.menu-container
{
    position: relative;
    display:block;
    width: 100%;
    height:100%;
    padding-bottom: 3.3%;
}

.menu-row
{
    overflow: hidden;
    height: 100%;
}
.menu-column {
    float: left;
    height: 100%;
}