<div style="margin-left:2%; margin-right:2%;">
    <div class="container-fluid">
        <div class="row">
            <div ng-repeat="column in boardData.columns" class="col-sm-2 col-md-2 col-lg-2 list-column">
                <div class="playground-list" ng-class="{ 'new-list' : column.newList, 'list' : !column.newList }">
                    <div class="container-fluid">
                        <p style="text-transform: capitalize;" class="pull-left">
                            {{column.data}}
                        </p>
                        <span ng-show="column.newList" class="glyphicon glyphicon-plus pull-right"></span>
                    </div>
                    <hr ng-show="!column.newList">
                    <div class="container-fluid">
                        <ul class="list-group">
                            <li  ng-repeat="item in column.items">
                                {{item.title}}
                            </li>
                        </ul>
                    </div>
                    <div class="new-card" ng-show="!column.newList" ng-click="pushItem(this.column)">
                        Add new card...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>