<div class="modal-dialog-centered" role="document">
    <div class="modal-content playground-modal">
        <div class="modal-header">
            <h5 class="modal-title">New Board</h5>
        </div>
        <form>								
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="height:500px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 ml-auto">
                            <h3>Board</h3>
                            <hr>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <uib-tabset>
                                        <uib-tab index="0" heading="Board Name">
                                            <input ng-model="newBoard.name" id="board_name" class="form-control" style="text-transform: capitalize" type="text" ng-required></input>
                                        </uib-tab>
                                    </uib-tabset>														
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div board-items items="columns" items-plural-label="{{columnsPluralLabel}}" items-singular-label="{{columnsSingularLabel}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 ml-auto">
                            <h3>Team</h3>
                            <hr>												
                            <uib-tabset active="active" class="nav-fill">
                                <uib-tab index="0" heading="Create Team" ng-click="createNewTeamView()">
                                    <div new-team ng-show="newTeamView.bool"></div>
                                </uib-tab>
                                <uib-tab index="1" heading="Select Team" ng-click="selectTeamView()">
                                    <div select-team ng-show="!newTeamView.bool" teams="userTeams"></div>
                                </uib-tab>
                            <uib-tabset>
                        </div>										
                    </div>																		
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <button class="playground-modal-button" type="button" ng-click="createBoard()">Create Board!</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <button class="playground-modal-button" type="button" ng-click="cancelBoardModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>								
        </form>
    </div>
</div>