<div ng-repeat="list in lists" class="col-sm col-md col-lg list-column">
        <div class="playground-list" ng-class="{ 'new-list' : list.newList, 'list' : !list.newList }">
            <div class="container-fluid" style="padding:0;">                        
                <div ng-click="list.title.editing = true">
                    <h5 ng-show="!list.title.editing" style="text-transform: capitalize;" class="list-title pull-left">
                        {{list.data}}
                    </h5>
                    <input type="text" class="list-title-input" ng-keyup="$event.keyCode === 13 ? list.title.editing = false : ''" ng-blur="list.title.editing = false" ng-model="list.data" ng-show="list.title.editing" autofocus>
                </div>
            </div>
            <hr ng-show="!list.newList">
            <div class="container-fluid" style="padding:0;">
                <ul dnd-list="list.items" class="list-group board-list">
                    <li ng-repeat="item in list.items"
                        dnd-draggable="item"
                        dnd-moved="list.items.splice($index, 1)"
                        dnd-dragstart="dragStart()"
                        dnd-moved="dragEnd()"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <div class="card">
                            <div class="card-title row">
                                <div class="col-lg-10 col-md-10 col-sm-10" ng-click="item.editing = true">
                                    <p ng-show="!item.editing">{{ item.title }}cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
                                    <input type="text" ng-keyup="$event.keyCode === 13 ? item.editing = false : ''" ng-blur="item.editing = false" ng-model="item.title" ng-show="item.editing" ng-attr-autofocus="item.autofocus">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2" uib-dropdown>
                                <span class="glyphicon glyphicon glyphicon-pencil options-icon pull-right" uib-dropdown-toggle></span>
                                    <ul class="list-group playground-action-menu" uib-dropdown-menu role="menu" auto-close="'outsideClick'" aria-labelledby="simple-dropdown">
                                            <h5 style="text-align:center;">Card Actions</h5>
                                        <hr style="margin:1em;">
                                        <div>
                                            <li ng-class="{'playground-select-button-active' : activeButton }"ng-repeat="member in members">
                                                <div class="playground-select-button" ng-click="assignItemToMember(item, member)">{{ member.name }}</div>
                                            </li>
                                            <hr>
                                            <li>
                                                <div class="playground-delete-button" ng-click="list.items.splice($index, 1)">
                                                    Delete
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>                                           
                            </div>
                            <div class="card-details">
                                <div ng-repeat="member in members | filter : {$: item.id} : true : itemsAssigned">
                                    <div>{{ member.name }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li  class="dndPlaceholder card-dropzone"></li>
                </ul>
            </div>            
            <div class="new-card" ng-show="!list.newList" ng-click="addNewItem(this.list)">
                <p>Add new card...</p>
            </div>
        </div>
    </div>