<div class="row">
    <div class="container-fluid">
        <div class="navbar playground-navbar">
            <h3 ng-bind="board.boardName"></h3>
        </div>
    </div>        
    </div>
    <div class="board-view-container">
        <div class="row board-view-row">
            <div class="col-lg-9 col-md-9 board-column">
                <div board board-data="board" edit-card-html="editCardHtml" id="board-view" style="height:100%;"></div>
            </div>
            <div class="col-lg-3 col-md-3 menu-column" >
                <!-- TODO: mover menu a directiva para reutilizar en popovers -->
                <div class="playground-board-menu">
                    <div class="panel panel-default menu-panel">
                        <div class="panel-heading menu-heading">
                            <h3>Menu</h3>
                        </div>
                        <div class="panel-body">
                            <div class="team-menu">
                                <div class="team-header">
                                    <h4>{{ board.team.name }}</h4>
                                </div>
                                <ul class="list-group board-list">
                                    <li class="team-members-item" ng-repeat="member in board.team.members">
                                        {{ member.name }}
                                        <div class="pull-right team-member-letters">
                                            <div class="initials">
                                                {{ member.name[0] | uppercase }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>                               
                            </div>
                            <hr>
                            <div class="board-actions-menu">
                                <div class="board-mixer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div board-menu></div>
            </div>
        </div>
    </div>
</div>

