<div class="row">
    <div class="container-fluid">
        <div class="navbar playground-navbar">
            <h3 ng-bind="board.boardName"></h3>
        </div>
    </div>        
    </div>
    <div class="menu-container">
        <div class="row menu-row">
            <div class="col-lg-10 col-md-10">
                <div board board-data="board" id="board-view"></div>
            </div>
            <div class="col-lg-2 col-md-2 menu-column" >
                <div class="playground-board-menu">
                    <h3>Menu</h3>
                </div>
                <div board-menu></div>
            </div>
        </div>
    </div>
</div>

