<div class="modal-dialog-centered" role="document">
    <div class="playground-modal">
        <div class="modal-heading">
            <h2 class="modal-title">New Board</h2>
        </div>
        <form name="newBoardForm" novalidate>								
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="height:500px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 ml-auto">
                            <h3>Board</h3>
                            <hr>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12" ng-class="{'has-error' : newBoardForm.name.$dirty && newBoardForm.name.$invalid}">
                                    <uib-tabset>
                                        <uib-tab index="0" heading="Board Name">
                                            <input 
                                                name="name"
                                                ng-model="newBoard.name"
                                                id="board_name"
                                                class="form-control"
                                                style="text-transform: capitalize"
                                                type="text"
                                                required
                                                ></input>
                                                <span ng-show="newBoardForm.name.$dirty && newBoardForm.name.$invalid">
                                                    <span ng-show="newBoardForm.name.$error.required" class="modal-error">Board's Name is required</span>
                                                </span>                                                
                                        </uib-tab>
                                    </uib-tabset>														
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div board-items form="newBoardForm" items="columns" description="Add columns to your board." items-plural-label="{{columnsPluralLabel}}" items-singular-label="{{columnsSingularLabel}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 ml-auto">
                            <h3>Team</h3>
                            <hr>												
                            <uib-tabset active="active" class="nav-fill" id="new-board-modal-tabset">
                                <uib-tab index="0" heading="Create Team" ng-click="createNewTeamView()">
                                    <div new-team ng-show="newTeamView.bool"></div>
                                </uib-tab>
                                <uib-tab index="1" heading="Select Team" ng-click="selectTeamView()">
                                    <div select-team ng-show="!newTeamView.bool" teams="userTeams"></div>
                                </uib-tab>
                            <uib-tabset>
                        </div>										
                    </div>																		
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <button type="button" ng-click="createBoard(newBoardForm)" class="btn btn-primary">Create Board!</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <button class="btn btn-primary" type="button" ng-click="cancelBoardModal()">Cancel</button>
                    </div>
                </div>
            </div>							
        </form>
    </div>
</div>