<div class="modal-dialog-centered" role="document">
    <div class="modal-content playground-modal">
        <div class="modal-header" id="pop-up-label">
            <h5 class="modal-title">
                {{ header }}
            </h5>
        </div>							
        <div class="modal-body" id="popup-text">
            {{ notification }}
            <hr>

            <div class="container-fluid">
                    <ul class="list-group">
                        <li>
                            <button class="button four-to-the-floor-button beat-button" ng-click="selectBeat('ftf')">Four To The Floor</button>
                        </li>
                        <li>
                            <button class="button jungle-button beat-button" ng-click="selectBeat('j')">Jungle </button>
                        </li>
                        <li>
                            <button class="button house-button beat-button"ng-click="selectBeat('h')">House</button>
                        </li>
                        <li>
                            <button class="button dub-button beat-button" ng-click="selectBeat('db')">Dub</button>            
                        </li>
                    </ul>
                </div>
            <div></div>
            
        </div>
    </div>
</div>
