<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Your Teams</h4>
    </div>
</div>
<div>
    <uib-accordion close-others="true" id="new-board-modal-accordion">
        <div uib-accordion-group class="panel-modal modal-teams" is-open="" ng-repeat="team in teams" id="{{'team_' + team.id}}">
            <uib-accordion-heading>
                <div class="panel-heading" ng-click="selectTeam(this.team, $event)">
                    {{team.name}}
                </div>
            </uib-accordion-heading>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="member in team.members">{{member.name}}</li>
            </ul>
        </div>
    </uib-accordion>
</div>